# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Automation Test\02 - Selenium Webdriver\workspace\Bankguru Selenium - TesNG Java Automation Framework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
